/* ======================================
			General Styles
========================================= */

body {
	background: url(../images/bodybg.gif);
}

/* ------------------------------------------Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Oswald:400,700);

p {
	font-size: 0.75em;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.125em;
}

a {
	font-size: 1em;
	text-decoration: none;
}

a:hover {
	color: #197ad8;
}

li {
	list-style: none;
}

h1, h2, h3, h4, a {
	color: #121b6a;
	font-family: 'Oswald', sans-serif;
}

/* ----------------------------------------Layout */

.container {
	width: 960px;
	margin: 0 auto;
}

.bodyContainer {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

/* ----------------------------------------Special */

.hiddenText {
	position: absolute;
	left: -9999px;
}

.clearfix { 
	zoom: 1; 
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

/* ======================================
				Site Header 
========================================= */

.mainLogo {
	width: 30%;
	display: block;
	float: left;
}

.mainLogo a {
	width: 224px;
	height: 76px;
	text-indent: -9999px;
	display: block;
	background: url(../images/conceptlogo.png) no-repeat 0 0;
	background-image: linear-gradient(transparent, transparent), url(../images/conceptlogo.svg);
}

h1.mainLogo {
	margin: 0;
	padding: 15px 0 23px 0;
	float: left;
}

.siteHeader {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.3);
}

/* ----------------------------------------Site Nav */

.siteNav {
	width: 70%;
	float: right;
	display: block;
	position: relative;
}

.mainNav, .secondNav {
	display: block;
	text-align: right;
}

.mainNav li, .secondNav li {
	display: inline-block;
}

.mainNav a, .secondNav a {
	display: block;
}

.mainNav a:last-child, .secondNav a:last-child {
	padding-right: 0;
}

.mainNav {
	margin: 0;
	padding: 1.1em 0 0 0;
}

.secondNav {
	margin: 0.675em 0 0 0;
	text-align: right;
}

.mainNav a {
	font-size: 1.05em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0.525em 2.5em;
}

.secondNav a {
	font-family: 'Open Sans', sans-serif;
	font-size: .675em;
	color: #1270cc;
	font-weight: bold;
	padding: 0.375em 0.9em;
	letter-spacing: .1px;
}

.secondNav .phone {
	color: #222;
}





/* ======================================
				Product Content 
========================================= */

.contentContainer {
	width: 45%;
	padding: 2.5%;
	float: left;
}



