/* ======================================
			General Styles
========================================= */

/* ------------------------------------------Fonts */

p {
	font-size: 0.75em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.125em;
}

a {
	font-size: 1em;
	text-decoration: none;
}

li {
	list-style: none;
}

h1, h2, h3, h4, a {
	color: #121b6a;
}

/* ----------------------------------------Layout */

.960container {
	width: 950px;
	padding: 0 10px
	margin: 0 auto;
}

/* ----------------------------------------Special */

.hiddenText {
	position: absolute;
	left: -9999px;
}

.clearfix { 
	zoom: 1; 
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

/* ======================================
				Site Header 
========================================= */

.mainLogo {
	width: 40%;
	display: block;
	float: left;
}

.mainLogo a {
	width: 224px;
	height: 76px;
	text-indent: -9999px;
	display: block;
	background: url(../images/conceptlogo.png) no-repeat 0 0;
	background-image: linear-gradient(transparent, transparent), url(../images/conceptlogo.svg);
}

h1.mainLogo {
	margin: 0;
	padding: 15px 0 20px 0;
}

.siteHeader {
	background: url(../images/bodybg.gif) repeat 0 0;
}

/* ----------------------------------------Site Nav */

.siteNav {
	width: 54%;
	float: left;
	display: block;
}

.mainNav, .secondNav {
	float: right;
	display: block;
	clear: both;
	width: 100%
}

.mainNav li, .secondNav li {
	display: inline;
}

.mainNav a, .secondNav a {
	float: right;
	display: block;
	padding: 2%;
}

/* ======================================
				Product Content 
========================================= */

.contentContainer {
	width: 45%;
	padding: 2.5%;
	float: left;
}



